* {
  box-sizing: border-box;
}

body {
  background: #ffcdd2;
  color: #000;
  line-height: 2;
  font-family: sans-serif;
  padding: 1em;

}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7)
}

.wrapper > *{
  padding: 1em;
}

.title-header {
  background: #ef9a9a;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

#survey-form {
  background: #fff;
}

.flex-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
